ul.row.center-xs.middle-xs
	li
		a(href="juegue.html")
			p JUEGUE LEGAL
	li
		a(href="deportistas.html")
			P DEPORTISTAS
	li
		a(href="social.html")
			p REDES SOCIALES
	li
		a(href="denuncia.html")
			p DENUNCIE
	li
		a(href="video.html")
			P.last VIDEOS