footer
	div.row.top-xs
		.col-xs-12.col-lg-7.row
			.col-xs
				p
					strong SEDE PRINCIPAL </br>
					| Edificio Loteria Caller 19 No 9-35 </br>
					| Plaza de Bolivar Tunja - Boyacá
			.col-xs
				p
					strong PBX:
					| 098-7405588  
					strong Fax: 
					| 7408866 extensión - 213 </br>
					strong Linea Gratuita: 
					| 018000918706
			.col-xs
				p info@loteriadeboyaca.gov.co </br>
					| apuestas@loteriadeboyaca.gov.co
			.col-xs
				p
					strong SEDE BOGOTÁ D.C. </br>
					| Casa de Boyacá Calle 98 No 19 A-67 </br>
					| Bogotá D.C. </br>
					strong Teléfono: 
					| 091-6111001-2574201
		.col-xs-12.col-lg-5.row
			.col-xs
				img(src="images/logos/logo_gobernacion.png")
			.col-xs
				img.creer(src="images/logos/logo_creemos.png")
			.col-xs(style="padding-right: 30px;")
				img(src="images/logos/logo_loteria.png")