section.header.row.center-xs.middle-xs.between-xs#principal-menu
	div.logos.row.col-xs-12.center-xs.col-md-4
		.logo.col-xs-6
			a(href="index.html")
				img(src="images/logos/logo_juega.png")
		.logo.col-xs-6
			a(href="#")
				img(src="images/logos/logo_loteria.png")
	div#menu.menu.col-xs-12.center-xs.col-md-8
		include __menu 