div.social-icons
    a(href="#" target="_blank")
        img(style="height: 30px; padding: 2px 0;" src="images/icons/share.png", alt="")
    a(href="https://www.facebook.com/LoteriaBoyaca/" target="_blank")
        img(style="height: 30px; padding: 2px 0;" src="images/icons/facebook.png", alt="")
    a(href="https://twitter.com/LoteriadeBoyaca" target="_blank")
        img(style="height: 30px; padding: 2px 0;" src="images/icons/twitter.png", alt="")