extends _base

block content
    include _social-icons
    section.description-deportista.row.center-xs
        div.col-sm-12.col-lg-4
            div.img-deportista(style="background: url(images/deportistas/baloncesto/club-had.png) no-repeat center; background-size: cover; height: 400px; width: 400px;")
        div.col-xs-12.col-lg-8.text-deportista
            h3.title Club de Baloncesto HAD
            h4.title-2 DEPORTISTA LORERÍA DE BOYACÁ </br>
            h6
                | EDAD: Niños desde los 6 Años</br>
                | CIUDAD: Duitama </br></br>
                

            strong Descripción: </br>   

            P Un Club dedicado al desarrollo deportivo de cada niño y joven, entrenadores capacitados y con un gran amor por su trabajo logran que cada deportista saque lo mejor de si y que con valores como compañerismo, tolerancia, respeto y perseverancia ganen cada campeonato en el que compiten. Su meta, lograr deportistas íntegros con calidad humana y serviciales. Nos sentimos orgullosos de su labor y de contar con Deportistas Lotería de Boyacá que nos representan como boyacenses en todas las competencias.
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/baloncesto/Club-Had-1.jpg")
                img(src="images/deportistas/baloncesto/Club-Had-1.jpg", alt="")
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/baloncesto/Club-Had-2.jpg")
                img(src="images/deportistas/baloncesto/Club-Had-2.jpg", alt="")
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/baloncesto/Club-Had-3.jpg")
                img(src="images/deportistas/baloncesto/Club-Had-3.jpg", alt="")
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/baloncesto/Club-Had-1.jpg")
                img(src="images/deportistas/baloncesto/Club-Had-4.jpg", alt="")
    div.col-xs-1
        a(href="deportistas.html")
            h3(style="color: white;padding: 50px 0;position: absolute;right: 10%;margin-top: -100px;") < VOLVER
