extends _base

block content
    include _social-icons
    section.description-deportista.row
        div.col-sm-12.col-lg-4
            div.img-deportista(style="background: url(images/deportistas/bmx/club-had.png); no-repeat center; background-size: cover; height: 400px; width: 400px;")
        div.col-xs-12.col-lg-8.text-deportista
            h3.title Club deportivo Edward motosEMS 
            h4.title-2 BMX </br>
            h5
                | EDAD: Niños desde los 12 Años</br>
                | CIUDAD: Sogamoso </br>
                | - Cristian Torres, Campeón Nacional </br>
            p Club deportivo que enseña a niños desde los 12 años a formarse en la disciplina de BMX. Dedicación y responsabilidad son sus pilares, el primer lugar en cada campeonato, su sueño; Ayudan en la formación deportiva de Cristian Torres quien hoy es el Campeón Nacional de BMX. Deportistas Lotería de Boyacá que apuestan por sus sueños y los ponen en manos de los mejores entrenadores del departamento para lograrlos.
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/bmx/Club-BMX-1.jpg")
                img(src="images/deportistas/bmx/Club-BMX-1.jpg", alt="")
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/bmx/Club-BMX-2.jpg")
                img(src="images/deportistas/bmx/Club-BMX-2.jpg", alt="")
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/bmx/Club-BMX-3.jpg")
                img(src="images/deportistas/bmx/Club-BMX-3.jpg", alt="")
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/bmx/Club-BMX-4.jpg")
                img(src="images/deportistas/bmx/Club-BMX-4.jpg", alt="")
    div.col-xs-1
        a(href="deportistas.html")
            h3(style="color: white;padding: 50px 0;position: absolute;right: 10%;margin-top: -100px;") < VOLVER
