extends _base

block content
	include _social-icons
	div.row
		section.denuncia.start-xs.col-xs-12.col-md-6
			div.col-xs-12(style="background: url(images/fondo-menu.png) no-repeat center;background-size: cover;height: 80px;width: 170px; position: relative")
				h3 ¿CÓMO DENUNCIAR? </br>
			p Denuncie ante cualquier irregularidad por los siguientes medios. 

			</br>

			strong SEDE PRINCIPAL: </br>
			p Edificio LoterÍA Calle 19 No 9-35 </br>
				| Plaza Bolivar tunja-Boyacá </br>
			</br>
			p
				strong PBX:
				| 098-7405588- 
				strong Fax:
				| 7408866 extensión - 213 </br>
				strong Línea Gratuita: 
				| 018000918706
			</br>

			p info@loteriadeboyaca.gov.co </br>
				| apuestas@loteriadeboyaca.gov.co
			</br>

			strong SEDE BOGOTÁ D.C.
			p Casa Boyacá, Calle 98 No 19A-67
				| Bogotá, D.C.
				</br>
				strong Teléfono:
				|  091-6111001-2574201
		section.col-xs-12.col-md-6.form-denuncie.denuncia
			form
				div.col-xs-12.col-md-6(style="background: url(images/fondo-menu.png) no-repeat center;background-size: cover;height: 60px;width: 140px; position: relative")
					h3(style="margin-top:20px;") Nombre </br>
				input
				div.col-xs-12.col-md-6(style="background: url(images/fondo-menu.png) no-repeat center;background-size: cover;height: 60px;width: 140px; position: relative")
					h3(style="margin-top:20px;") Email </br>
				input
				div.col-xs-12.col-md-6(style="background: url(images/fondo-menu.png) no-repeat center;background-size: cover;height: 80px;width: 180px; position: relative")
					h3(style="margin-top:20px;") Ausnto a denunciar </br>
				textarea
				button.btn-denuncia.col-xs-12.col-md-6(style="background: url(images/fondo-menu.png) no-repeat center;background-size: cover; outline: 0;height: 60px;width: 140px; position: relative") Enviar
