extends _base

block content
    include _social-icons
    section.description-deportista.row
        div.col-sm-12.col-lg-4
            div.img-deportista(style="background: url(images/deportistas/felipe/felipe.png); no-repeat center; background-size: cover; height: 300px; width: 400px;")
        div.col-xs-12.col-lg-8.text-deportista
            h3.title Felipe H. González 
            h4.title-2 Automovilismo </br>
            h5
                | EDAD: 32 años</br>
                | CIUDAD: Tunja</br>
                | - 2013 Subcampeón del Campeonato Nacional colombiano TC 2000 Colombia Academia clase B  </br>
                | - 2014  Quinto lugar en el Campeonato Nacional Colombiano TC 2000 Colombia Academia clase A  </br>
                | - Marzo de 2016 Campeón en el Circuito Contra reloj  Festival de Motores Extremos Categoría 8v. (Aguazul, Casanare)  </br>
            p Felipe González Díaz  ha participado en los campeonatos del departamento como: slalom, piques 1/4 de milla, motor show series. A nivel nacional en copa cumbres tc 2000 colombia, campeonato nacional colombiano tc 2000 Colombia donde está compitiendo actualmente y en campeonatos de automovilismo a nivel nacional. </br></br> Se encuentra terminando arquitectura en la universidad santo tomas de la ciudad de Tunja todo su tiempo la pasa en la universidad en el taller y en las pistas. </br></br>Corre profesionalmente desde el año 2012 en el campeonato nacional colombiano.
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/felipe/automovilismo-1.jpg")
                img(src="images/deportistas/felipe/automovilismo-1.jpg", alt="")
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/felipe/automovilismo-2.jpg")
                img(src="images/deportistas/felipe/automovilismo-2.jpg", alt="")
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/felipe/automovilismo-3.jpg")
                img(src="images/deportistas/felipe/automovilismo-3.jpg", alt="")
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/felipe/automovilismo-4.jpg")
                img(src="images/deportistas/felipe/automovilismo-4.jpg", alt="")
    div.col-xs-1
        a(href="deportistas.html")
            h3(style="color: white;padding: 50px 0;position: absolute;right: 10%;margin-top: -100px;") < VOLVER
