extends _base

block content
    include _social-icons
    section.description-deportista.row
        div.col-sm-12.col-lg-4
            div.img-deportista(style="background: url(images/deportistas/xena.png); no-repeat center; background-size: cover; height: 400px; width: 400px;")
        div.col-xs-12.col-lg-8.text-deportista
            h3.title + BIKER
            h4.title-2 DEPORTISTA LORERÍA DE BOYACÁ </br>
            h5
                | EDAD: 25 AÑOS </br>
                | CIUDAD: TUNJA </br>
                | CAMPEÓN DEPARTAMENTAL BMX </br>
            P Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quo, voluptas amet ducimus corporis est culpa impedit, doloribus rerum cum delectus, natus error at. Consequatur excepturi dolore sequi eaque quisquam.
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/1.jpg")
                img(src="images/deportistas/1.jpg", alt="")
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/2.jpg")
                img(src="images/deportistas/2.jpg", alt="")
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/3.jpg")
                img(src="images/deportistas/3.jpg", alt="")
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/4.jpg")
                img(src="images/deportistas/4.jpg", alt="")
 