extends _base

block content
    include _social-icons
    section.content-juegue
        div.tabpanel.row
            ul.nav.nav-tabs.left-content.col-sm-12.col-lg-4(role="tablist")
                li.active(role="presentation")
                    a(href="#section1" aria-controls="" data-toggle="tab" role="tab")
                            h4 Juegos de Suerte y Azar
                li(role="presentation")
                    a(href="#section2" aria-controls="" data-toggle="tab" role="tab")
                        h4 Prácticas ilegales en los juegos de suerte y azar.
                li(role="presentation")
                    a(href="#section3" aria-controls="" data-toggle="tab" role="tab")
                        h4 Consejos Prácticos.
                li(role="presentation")
                    a(href="#section4" aria-controls="" data-toggle="tab" role="tab")       
                        h4 Delitos 
            div.tab-content.right-content.col-sm-12.col-lg-8
                div#section1.tab-pane.active(role="tab-panel")
                    h3 Juegos de Suerte y Azar
                    p Los juegos de suerte y azar son aquellos juegos en los cuales una persona que actúa en calidad de jugador realiza una apuesta o paga por el derecho a participar a otra persona que actúa en calidad de operador, que le ofrece a cambio un premio en dinero o en especie, el cual gana si acierta con los resultados del juego, no siendo este previsibles con certeza, por estar determinados por la suerte el azar o la casualidad.
                div#section2.tab-pane(role="tab-panel")
                    h3 Prácticas ilegales en los juegos de suerte y azar:
                    p - Comercializar rifas sin la autorización de la entidad competente.  </br>
                    p - Comercializar rifas sin el uso de resultados de una Lotería Tradicional.</br>
                    p - Realizar promocionales sin la autorización de la entidad competente.</br>
                    p - Rifar bienes usados y dinero.</br>
                    p - Las rifas no pueden ser de carácter permanente.</br>
                    p - Los premios que se rifan deben quedar en poder del público. </br>
                    p - No se deben aceptar formularios alterados. </br>
                    p - Verificar que el formularios en el cual se juego, corresponda a los oficialmente autorizados por la Lotería de Boyacá.</br>
                    p - Verificar que la información registrada en el formulario o billete corresponda a la apuesta solicitada. </br>
                    p - Confirmar que la fecha del formulario o billete corresponda al sorteo en el cual se requiere jugar. </br>
                    p - Antes de cobrar un premio, es necesario verificar la lista de resultados y el valor del premio correspondiente. </br></br>
                    strong El artículo 312, define el castigo que tendría una persona cualquiera que cometa un delito contra el monopolio o árbitro rentístico del juego de suerte y azar, y la misma ley (Ley 599 de 2000), en su articulo 313. Defiende la sanción que podría tener aquel que estando autorizado para la explotación del monopolio rentístico, cometiera el delito de evasión.
                div#section3.tab-pane(role="tab-panel")
                    h3 Consejos prácticos:
                    p - No se deben aceptar formularios alterados </br>
                    p - Verificar siempre que el formulario en el cual se jugó, corresponda a los oficialmente autorizados por la Lotería de Boyacá. </br>
                    p - Verificar que la información registrada en el formulario o billete corresponda a la apuesta solicitada. </br>
                    p - Confirmar que la fecha del formulario o billete corresponda al sorteo con el cual se requiere jugar.</br>
                    p - Antes de cobrar un premio, es necesario verificar las listas de resultados y el valor del premio correspondiente.</br>
                    p - Al comprar la lotería hágalo con su vendedor de confianza o distribuidor autorizado.</br>
                    p - Verifique que su billete no presente ninguna alteración o enmendadura. </br>
                    p - Confirme que la fecha del billete, corresponda al sorteo al cual usted desea jugar. </br>
                    p - Verifique que el billete de la Lotería de Boyacá , contenga la característica de alto relieve. </br>
                    p - Antes de cobrar su premio, verifique las listas de resultados y el valor del premio correspondiente. </br></br>
                    p Los resultados de la Lotería de Boyacá pueden ser consultados en la página web: 
                        a(href="http://loteriadeboyaca.gov.co/" target="_blank" style="color:#cd2727") www.loteriadeboyaca.gov.co 
                        | Si su billete no resulta ganador, no lo deje en manos de terceras personas, DESTRÚYALO, excepto si puede utilizarlo en algún tipo de promoción que realice la Lotería de Boyacá, en cuyo caso deberá seguir las instrucciones correspondientes. </br></br>
                    strong Los juegos de suerte y azar generan recursos para la salud, queremos darle algunos Consejos Prácticos para que sin problemas pueda jugar… </br>
                div#section4.tab-pane(role="tab-panel")
                    h3 Delitos:
                    p - ¿ Qué hacer para contrarrestar las Malas Prácticas y la Ilegalidad en los Juegos de Suerte y Azar? Varias leyes defienden claramente los delitos contra el monopolio rentístico de los juegos de suerte y azar y definen las atribuciones de las autoridades para controlarlos, una de ellas es la ley 643 de 2001, por la cual se fija el Régimen Propio de Monopolio rentístico de los juegos de suerte y azar. En su artículo 4º establece:</br></br>

                    p “Juegos prohibidos y prácticas no autorizadas:… las autorida- des de Policía o la entidad de control competente deberán suspender definitivamente los juegos no autorizados y las prácticas prohibidas. Igualmente deberán dar traslado a las autoridades competentes cuando pueda presentarse detrimen- to patrimonial del Estado, pérdida de recursos o delitos”</br></br>

                    p Por otra parte la Ley 599 de 2000, mediante la cual se expidió el Código Penal dice: Lo estipulado en el articulo 18 de la ley 1393 de 2010: ejercicio ilícito de actividad monopolística de árbitro rentístico: El que de cualquier manera o valiéndose de cualquier medio ejerza una actividad establecida como monopolio de árbitro rentístico, sin la respectiva autorización, permiso o contrato, o utilice elementos o modalidades de juego no oficiales, incurrirá en prisión de cuatro (4) a ocho (8) años y multa de quinientos (500) a mil (1000) salarios mínimos legales mensuales vigentes. La pena se aumentará en una tercera parte cuando la conducta fuere cometida por el particular que sea concesionario, representante legal o empresario legalmente autorizado para la explotación de un monopolio rentístico, y hasta la mitad , cuando lo fuere por un servidor público de cualquier entidad.