extends _base

block content
	include _social-icons
	div.video
		iframe(width="90%" height="500px"
			src="https://www.youtube.com/embed/RVGqnMfvhFs")
		h2 Video 1 Bienvenido
		div.videos.row.start-xs
			iframe(width="15%" height="110px"
				src="https://www.youtube.com/embed/RVGqnMfvhFs")
			iframe(width="15%" height="110px"
				src="https://www.youtube.com/embed/RVGqnMfvhFs")
