extends _base

block content
    include _social-icons
    section.description-deportista.row.center-xs
        div.col-sm-12.col-lg-4
            div.img-deportista(style="background: url(images/deportistas/xena.png); no-repeat center; background-size: cover; height: 400px; width: 400px;")
        div.col-xs-12.col-lg-8.text-deportista
            h3.title Doris "Xena" Patiño
            h4.title-2 DEPORTISTA LORERÍA DE BOYACÁ </br>
            h6
                | EDAD: 30 AÑOS </br>
                | CIUDAD: SOGAMOSO </br></br>
                | - 20 de septiembre de 2001 Cinturón Blanco</br>
                | - 23 de octubre de 2001 Cinturón Amarillo</br>
                | - 01 de marzo de 2002 Cinturón Verde</br>
                | - 07 de septiembre de 2002 Cinturón Azul</br>
                | - 30 de octubre de 2003 Cinturón Rojo </br>
                | - 15 de noviembre de 2003 Cinturón Rojo Franja </br>
                | - 30 de noviembre de 2004: Cinturón Negro 1 Dan Federación Colombiana De Taekwondo.</br>
                | - 05 de noviembre 2007 Cinturón Negro I Dan de la Federación Mundial de Taekwondo. </br>
                | - 15 de Diciembre 2009 Cinturón Negro III DAN Federación colombiana de taekwondo.</br>
                | - Cinturón Negro IIII DAN Federación colombiana de taekwondo.</br>
                | - Juegos Olímpícos 2016 Categoría - 57 kg</br>

            strong Descripción: </br>  

            P Taekwondista boyacense que con un amplio recorrido en este deporte, nos enseña a perserverar y luchar por nuestros sueños. Llegar a lo más alto del podio es su meta diaria y su familia, su impulso a entrenar con más dedicación. Una orgullosa Deportista Lotería de Boyacá, ejemplo de delicadeza, fortaleza y tenacidad.
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/1.jpg")
                img(src="images/deportistas/1.jpg", alt="")
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/2.jpg")
                img(src="images/deportistas/2.jpg", alt="")
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/3.jpg")
                img(src="images/deportistas/3.jpg", alt="")
            a.fancybox-thumbs(data-fancybox-group="gallery" href="images/deportistas/4.jpg")
                img(src="images/deportistas/4.jpg", alt="")
    div.col-xs-1
        a(href="deportistas.html")
            h3(style="color: white;padding: 50px 0;position: absolute;right: 10%;margin-top: -100px;") < VOLVER
